<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/resources :: headResources('Advanced Search')}"></head>
<body>
<header>
    <nav th:insert="~{fragments/resources :: navbar}"></nav>
</header>
<main>
    <div class="container">
        <h1 class="text-center py-2">CIAO SONO ADVANCED_SEARCH PIZZA-SHOP</h1>
        <hr>
        <form th:action="@{/pizzas/advancedSearch}" method="GET">
            <div class="input-group">
                <input class="form-control"
                       type="text"
                       name="name"
                       th:value="${param.name}"
                       placeholder="Inserisci il nome della pizza">
                <input class="form-control"
                       type="text"
                       name="description"
                       th:value="${param.description}"
                       placeholder="Inserisci un ingrediente">
                <input class="form-control"
                       type="number"
                       name="price"
                       th:value="${param.price}"
                       placeholder="inserisci il prezzo massimo">
                <button type="submit" class="btn btn-primary">Cerca</button>
            </div>
        </form>
        <div class="row">
            <div th:if="${pizzaList != null}" th:each="pizza : ${pizzaList}" class="my-2 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img th:src="${pizza.img}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 th:text="${pizza.name}" class="card-title"></h5>
                        <p th:text="${pizza.description}" class="card-text">Some quick example text to build on the card
                            title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li th:text="${pizza.price} + '€'" class="list-group-item">An item</li>
                    </ul>
                    <div class="card-body">
                        <a th:href="@{pizzas/show/{id}(id=${pizza.id})}" class="card-link">Card link</a>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${pizzaList == null or #lists.isEmpty(pizzaList)}" class="alert alert-danger mt-2" role="alert">
            <h3 th:text="'Non ci sono risultati da mostrare'"></h3>
        </div>
    </div>


</main>
</body>
</html>