<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza Details')"></head>
<body>
<header>
    <nav th:insert="fragments/resources :: navbar"></nav>
</header>
<main>
    <div class="container">
        <h1>Sono la show</h1>
        <div class="row">
            <div class="card col-6" style="width: 18rem;">
                <img th:src="${pizza.img}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 th:text="${pizza.name}" class="card-title"></h5>
                    <p th:text="${pizza.description}" class="card-text">Some quick example text to build on the card
                        title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li th:if="${pizza.price != null}" th:text="${pizza.price} + '€'" class="list-group-item">An
                        item
                    </li>
                    <li th:if="${pizza.price == null}" th:text="'Prezzo non disponibile'" class="list-group-item">An
                        item
                    </li>
                </ul>
                <div class="card-body">
                    <a th:href="@{/pizzas}" class="card-link">Back Home</a>
                </div>
            </div>
            <div class="col-6">
                <h2 class="text-white">Lista Offerte Speciali</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data di inizio</th>
                        <th>Data di fine</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="promotion: ${pizza.promotions}" th:object="${promotion}">
                        <td th:text="*{title}"></td>
                        <td th:text="*{startDate}"></td>
                        <td th:text="*{endDate}"></td>
                        <td><a th:href="@{/promotions/edit/{id}(id=*{id})}">Modifica</a></td>
                    </tr>
                    </tbody>
                </table>
                <a th:href="@{/promotions/create(pizzaId=${pizza.id})}" class="btn btn-primary">Aggiungi una nuova
                    offerta
                </a>
            </div>
        </div>
    </div>
</main>
</body>
</html>