<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza Details')"></head>
<body>
<header>
    <nav th:insert="fragments/resources :: navbar"></nav>
</header>
<main>
    <div class="container">
        <h1>Sono la show</h1>
        <div class="card" style="width: 18rem;">
            <img th:src="${pizza.img}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 th:text="${pizza.name}" class="card-title"></h5>
                <p th:text="${pizza.description}" class="card-text">Some quick example text to build on the card
                    title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li th:text="${pizza.price} + '€'" class="list-group-item">An item</li>
            </ul>
            <div class="card-body">
                <a th:href="@{/pizzas}" class="card-link">Back Home</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>